.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
}

.expense-item h3 {
  margin: 0;
}

.expense-item p {
  margin: 4px 0;
  font-weight: bold;
}

.expense-item small {
  color: #2e2d2d;
}

.expense-item button {
  background-color: #f73346;
  color: rgb(254, 254, 253);
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.expense-item button:hover {
  background-color: #a71d2a;
}
